body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(188, 247, 247);
}

header {
    padding-left: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 40px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

#skills {
    background-color: #f8f8f8; 
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-bubble {
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s ease;
    
}

.skill-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


ul {
    list-style: none; /*Get rid of list styling*/
    padding: 0;
}

li {
    margin-bottom: 10px; /* Add spacing between skills */
}


#projects {
    /*Projects Styling*/
}

a img {
    width: 20px;
    margin-top: 5px; 
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cccccc; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #005fba; /* Button background color on hover */
}

/* Style the Recommendations section */
#recommendations {
    background-color: #f8f8f8; /* Background color for the section */
    padding: 20px;
}

.recommendation-list {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px; /* Add spacing between recommendations */
    padding: 20px;
    border: 1px solid #ddd; /* Add a border for each recommendation */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

blockquote {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin: 0;
}

.author {
    font-weight: bold;
    color: #555;
}
